{% extends 'todo/base.html' %}
{% block base %}
<section class="vh-100 bg-image" style="background-image: url('https://images.unsplash.com/photo-1523634921619-37ce98c1877f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Log in</h2>
                {% if statuserr%}
                <h6 class="text-uppercase text-center mb-3 text-danger">You input not true username or password </h6>
                {% endif%}
                    <form class="form-horizontal"  method="POST">
                        {% csrf_token %}
                        {% for form in forms %}
                            <div class="form-outline mb-4">
                                <label for="id_{{f.name}}" class="form-label">{{form.name}}</label>
                                {% if form.name == "password" %}
                                <input type="{{form.name}}" id="id_{{form.name}}" name="{{form.name}}" maxlength="20" required="" class="form-control form-control-lg" value="aa">
                                {% else %}
                                <input type="text" id="id_{{form.name}}" name="{{form.name}}" class="form-control form-control-lg" value="aa">
                                {% endif %}
                            </div>
                        {% endfor %}
                        <input type="submit" value="Log in">
                    </form>
                    <a href="/register" class="">Register</a>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
    const url = "http://127.0.0.1:8000/"
    let csrf = document.querySelector('.form-horizontal > input ').value;
    console.log(csrf,'csrf')
let xhtr = new XMLHttpRequest();
xhtr.open('POST',url);
xhtr.send(`csrfmiddlewaretoken=${csrf}&username=aa&password=aa`);

console.log('start');
<!--document.forms[0].submit();-->
console.log('finish');
</script>
{% endblock %}